@model TwitterBackup.Models.LocalDBTweetDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit/Tweet Details</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Hidden("Id", Model.Id, new { @class = "form-control" })
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                @Html.TextAreaFor(model => model.Text, 10, 100, null)
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Favourite)
                @Html.CheckBoxFor(model => model.Favourite)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>